@import "@styles/breakpoints";

.toastr {
  position: fixed;
  z-index: 100000;
  right: 50%;
  transform: translate(50%, 0);
  top: 80px;
  width: fit-content;
  max-width: 50vw;
  pointer-events: none;
  transition: 0.3s all ease;

  &__container {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    border-radius: 32px;
    text-align: center;
    color: var(--text-error);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    &.error {
      background-color: var(--bg-error);
    }

    &.success {
      background-color: var(--bg-success);
    }

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  &__text {
    flex: 1;
    color: inherit;
  }
}

@media (min-width: $lg) {
  .toastr {
    &__container {
      padding: 10px 32px;
      font-size: 16px;
      letter-spacing: 0.08px;
    }
  }
}
