@import "@styles/breakpoints";

/* ----------------------------------
   Страница с вопросами
----------------------------------- */

.questionPage {
  gap: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* ----------------------------------
   Панель действий сверху (добавить тип, сохранить)
----------------------------------- */

.sidebar {
  gap: 16px;
  padding: 16px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: var(--white);

  .sidebar__button {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    overflow-y: auto;
    color: var(--text);
    background: var(--bg-secondary-contrast);

    &:hover,
    &:focus,
    &:active {
      color: var(--text-hover);
      background: var(--bg-secondary-contrast-hover);
    }
  }
}

/* ----------------------------------
   Список карточек вопросов
----------------------------------- */
.questionList {
  gap: 32px;
  min-height: 350px;
  padding-bottom: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
}

/* ----------------------------------
   Одна карточка вопроса
----------------------------------- */
.question {
  gap: 24px;
  min-width: 500px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);

  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  }

  &__header {
    gap: 16px;
    display: flex;
    flex-direction: column;
  }

  &__actions {
    gap: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__arrows {
    gap: 8px;
    display: flex;
    align-items: center;
  }

  &__arrow {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: var(--text-hover);
    }
  }

  &__remove {
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--bg-error-hover);
    }
  }

  &__head {
    gap: 32px;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
  }

  &__body {
    gap: 16px;
    display: flex;
    flex-direction: column;
  }

  &__textarea {
    height: 60px;
    height: 3lh;
    resize: none;
  }
}

/* ----------------------------------
   Стилистика внутренностей вопросов
----------------------------------- */
.options {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Для grid-вопросов (single/multi/dropdown) */
.question-options {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

/* Одна строка опции (radio+label+удалить) */
.optionRow {
  gap: 16px;
  display: flex;
  align-items: center;
}

/* Поле редактирования текста варианта */
.optionInput {
}

.optionRadio {
  gap: 0;
}

/* Кнопка удаления варианта */
.removeOption {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--bg-error-hover);
  }
}

/* Кнопка “+ Добавить вариант” */
.addOption {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 16px;
  width: fit-content;
  align-self: flex-end;
  color: var(--text-secondary);
}

@media (min-width: $sm) {
  .questionPage {
    display: grid;
    grid-template-columns: 200px 1fr;
  }

  .sidebar {
    gap: 16px;
    padding: 16px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);

    .sidebar__button {
      font-size: 14px;
      font-weight: 500;
      padding: 8px 16px;
      overflow-y: auto;
      color: var(--text);
      background: var(--bg-secondary-contrast);

      &:hover,
      &:focus,
      &:active {
        color: var(--text-hover);
        background: var(--bg-secondary-contrast-hover);
      }
    }
  }
}
