@import "@styles/breakpoints";

.header {
  display: grid;
  width: 100%;
  row-gap: 32px;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "backButton logout"
    "tabs tabs";

  .back_button {
    cursor: pointer;
    justify-self: flex-start;
    grid-area: backButton;
  }

  .tabs {
    display: flex;
    gap: 16px;
    justify-self: center;
    grid-area: tabs;
  }

  .logout {
    justify-self: flex-end;
    grid-area: logout;
  }

  .tab {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--bg-contrast);
    transition: all 0.3s ease;

    &:hover {
      background: var(--bg-contrast-hover);
    }

    &.active {
      color: var(--text);
      background: var(--bg-contrast);

      &:hover {
        background: var(--bg-contrast-hover);
      }
    }
  }
}

@media (min-width: $sm) {
  .header {
    gap: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
