.survey {
  nav.tabs {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
  }
  .tab {
    padding: 8px 16px;
    cursor: pointer;
    background: var(--bg);
    border-radius: 4px;
    &.active {
      background: var(--bg-contrast);
      color: var(--text-contrast);
    }
  }
  .content {
    background: var(--bg);
    padding: 16px;
    border-radius: 4px;
  }
}
