@import "@styles/breakpoints";

.page {
  max-height: 100%;
}

.container {
  min-height: 100%;
  row-gap: 32px;
  display: grid;
  flex: 1 1 auto;
  grid-template-rows: auto auto;
}

.sidebar {
  min-height: 350px;
  padding: 24px 16px;
  overflow-y: auto;
  overflow-x: hidden;
}

.previewArea {
  min-height: 350px;
  padding: 24px 16px;
  overflow: auto;

  &.before {
    display: grid;
    grid-template-areas: "preview element";
  }

  &.after {
    display: grid;
    grid-template-areas: "element preview";
  }
}

@media (min-width: $sm) {
  .container {
    row-gap: 0;
    column-gap: 32px;
    grid-template-rows: none;
    grid-template-columns: 30% 1fr;
  }
}
