@import "@styles/breakpoints";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--white);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 16px;
  transition:
    transform 0.3s,
    box-shadow 0.3s,
    border-color 0.2s;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
  }

  .cardHeader {
    font-size: 20px;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 8px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cardBody {
    font-size: 14px;
    color: var(--text-secondary);
    flex: 1;
    margin-bottom: 16px;
    line-height: 1.4;
  }

  .stats {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;

    .badge {
      background: var(--bg-contrast);
      color: var(--text);
      padding: 6px 10px;
      border-radius: 4px;
      font-size: 12px;
    }
  }

  .actions {
    display: flex;
    gap: 12px;
    justify-content: flex-end;

    .actionBtn,
    .deleteBtn {
      width: 20px;
      height: 20px;
    }

    .actionBtn {
      background: rgb(86, 86, 86);

      &:hover {
        background: var(--text-secondary-hover);
      }
    }

    .deleteBtn {
      background: var(--bg-error);

      &:hover {
        background: var(--bg-error-hover);
      }
    }
  }
}

@media (min-width: $sm) {
  .card {
    padding: 24px;

    .cardHeader {
      font-size: 22px;
    }

    .cardBody {
      font-size: 16px;
      margin-bottom: 16px;
    }

    .stats .badge {
      font-size: 12px;
    }

    .actions {
      .actionBtn,
      .deleteBtn {
        width: 24px;
        height: 24px;
      }
    }
  }
}
