@import "@styles/breakpoints";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.mainContainer {
  flex: 1;
  padding: 0px 8px 8px;
  background: var(--bg);

  &.mainContainer__withFooter {
    padding-bottom: 0;
  }
}

@media (min-width: $sm) {
  .mainContainer {
    padding: 0 16px 16px;
  }
}

@media (min-width: $md) {
  .mainContainer {
    padding: 0px 32px 32px;
  }
}

@media (min-width: $lg) {
  .mainContainer {
    padding: 0px 48px 48px;
  }
}
