.timerRow {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.timerInputs {
  display: flex;
  gap: 8px;
}

.timerInput {
  width: 100px;
}

.hint {
  font-size: 12px;
  color: var(--text-secondary);
}

.flagsRow {
  gap: 32px;
  display: flex;
  flex-wrap: wrap;
}
