.input {
  width: 200px;
}

.timerRow {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.hint {
  font-size: 12px;
  color: var(--text-secondary);
}

.flagsRow {
  gap: 32px;
  display: flex;
  flex-wrap: wrap;
}
