/** Медиа стили экранов */
:root {
  --lg: 1440px;
  --md: 1200px;
  --sm: 992px;
  --xs: 480px;
}

/* Светлая тема */
:root[data-theme="light"] {
  --grayscale-0: #ffffff;
  --grayscale-1000: #222222;
}

/* Темная тема */
:root[data-theme="dark"] {
  --grayscale-0: #222222;
  --grayscale-1000: #ffffff;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.exit-link {
  position: absolute;
  z-index: 2000;
  top: 20px;
  right: 20px;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  width: 100vw;
  overflow: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease-out;
  will-change: transform;
  position: fixed;

  transform: translateY(0);
}

* {
  font-family: "Open Sans", sans-serif;
  color: var(--text-primary);
}

:where(a, button) {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  touch-action: manipulation;
}

:where(a, button):focus-visible {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
