.header {
  height: 70px;
  padding: 32px;
  display: flex;
  align-items: center;
  background: var(--bg);

  &__exit {
    gap: 8px;
    display: flex;
    cursor: pointer;
    align-items: center;
  }
}
